<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qzdsoft.eshop.mapper.goodsclass.GoodsClassQueryMapper" >
 	<select id="queryGoodsClassForTypeInfo" resultType="com.qzdsoft.vo.TypeInfo">
 	SELECT 
  		gc.class_id code,
  		gc.name value
  	FROM
  		goods_class gc 
  	WHERE
  	gc.delete_status = 0
  	ORDER BY gc.seq,gc.class_id
 	</select>
</mapper>