<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="footer-links">
		<div id="open_im" class="open-im"></div>  
            <div class="im_main" id="im_main">
                <div id="close_im" class="close-im"><a href="javascript:void(0);" title="点击关闭"></a></div>
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=852868043&amp;site=www.cactussoft.cn&amp;menu=yes" class="im-qq qq-a" title="在线QQ客服" target="_blank">
                    <div class="qq-container"></div>
                    <div class="qq-hover-c"><img class="img-qq" src="/images/qq.png"></div>
                    <span> QQ在线咨询</span> 
                </a>
                <div class="qq-contact">
                    <p>售前客服</p>
                    <a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&amp;uin=852868043&amp;site=www.cactussoft.cn&amp;menu=yes" target="_blank"><img src="/images/button_11.gif"></a>
                </div>
                <div class="qq-contact">
                    <p>售后客服</p>
                    <a title="点击这里给我发消息" href="http://wpa.qq.com/msgrd?v=3&amp;uin=852868043&amp;site=www.cactussoft.cn&amp;menu=yes" target="_blank"><img src="/images/button_11.gif"></a>
                </div>
                
                <div class="im-tel">
                    <div>免费咨询热线</div>
                    <div class="tel-num">400-7788-006</div>
                    <div class="tel-num">0755-23501160</div>
                </div>
                <div class="im-footer" style="position:relative">
                    <div class="weixing-container">
                        <div class="weixing-show">
                            <div class="weixing-txt">获得更多惊喜</div>
                            <img class="weixing-ma" src="/images/erweima.jpg" height="140" width="120">
                            <div class="weixing-sanjiao"></div>
                            <div class="weixing-sanjiao-big"></div>
                        </div>
                    </div>
                    <div class="go-top"><a href="javascript:;" title="返回顶部"></a> </div>
                    <div style="clear:both"></div>
                </div>
            </div>
	</div>
</body>
</html>