<style>
.layui-input-block{
margin-left:130px;
}
</style>
<form class="layui-form" action="" id="orderEditForm" style="position: absolute;">
<div class="layui-row"  style="margin-top:10px;">
	  <input type="hidden" class="layui-input" name="roleId" th:value="${obj.roleId}">
	 <div class="layui-form-item">
		    <label class="layui-form-label required" style="width:100px;">角色名称</label>
		    <div class="layui-input-block" style="width:200px;">
		         <input type="text" name="name" class="layui-input" lay-verify="required" th:value="${obj.name}"/>
		    </div>
	   </div>

  	 
	  <div class="layui-form-item">
		    <label class="layui-form-label" style="width:100px;">是否全部权限</label>
		    <div class="layui-input-block" style="width:200px;">
				<select name="allFunction" id="allFunction">
					<option th:value="${obj.allFunction==0?0:1}" th:text="${obj.allFunction==0?'否':'是'}"></option>
					<option th:value="${obj.allFunction==0?1:0}" th:text="${obj.allFunction==0?'是':'否'}"></option>
				</select>
		    </div>
	   </div>
  	
</div>
  
 <div class="layui-row" style="margin-top:20px;">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="text-align:center;margin-left:40px;">
          <button class="layui-btn" lay-submit="" lay-filter="formSubmit" authcode="35">提交</button>
      	<button type="button" class="layui-btn layui-btn-primary" id="closeBtn">关闭</button>
    </div>
  </div>
    <div id="menuContent" class="menuContent layui-bg-gray" style="display:none; position: absolute;">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
    </div>
</form>

<script>

//start use
layui.use('form', function(){
	
	  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
	  //……
	  //但是，如果你的HTML是动态生成的，自动渲染就会失效
	  //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
	  form.render();
	//监听表单提交
	form.on('submit(formSubmit)',function(data) {
		$.ajax({url:'/admin/sys/role/edit_execute',
			data:$("#orderEditForm").serializeJson(),
			type:"get",
			contentType:"application/json",
			success:function(data){
				if(data.code==200){
					layer.msg(data.message);
					$.reloadData("searchBtn");
					layer.closeAll();
				}else{
					layer.msg(data.message);
				}
			}});
		return false;
	});
	$('#closeBtn').click(function() {
		layer.close(editdialogindex);
	});
});
//end use
</script>